.modal-my-docs {
  height: 100%;
  left: auto !important;
  right: 0 !important;
}

.aui .modal.modal-my-docs.fade.in {
  top: 0;
}

@media (min-width: 980px) {
  .modal-my-docs {
    width: 450px !important;
  }
}
@media (min-width: 401px) and (max-width: 979px) {
  .modal-my-docs {
    width: 60% !important;
  }
}
@media (max-width: 400px) {
  .modal-my-docs {
    width: 80% !important;
  }
}
@media (max-width: 979px) {
  .aui .modal-my-docs .modal-header .close {
    margin-top: 0px !important;
  }
}
.aui .modal-my-docs .modal-header .close {
  margin-bottom: 10px;
  right: 25px;
  font-size: 30px;
}

.aui .modal-my-docs .modal-header {
  border-bottom: transparent;
  padding: 12px 25px !important;
}

.aui .modal-my-docs .modal-body {
  max-height: 80%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0;
  border-top: none;
  overflow-y: auto;
}

.font20 {
  font-size: 20px;
}

.aui .modal-my-docs .modal-header .labelHeader {
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
}

.rowMyDocs {
  background: white;
  min-height: 50px;
  border: 1px solid #ddd;
  box-shadow: 0 0 1px #acb4b9;
  -webkit-box-shadow: 0 0 1px #acb4b9;
  -moz-box-shadow: 0 0 1px #acb4b9;
}

.spanMyDocs {
  padding: 10px;
  padding-bottom: 5px;
}

.rowMyDocs:first-child {
  margin-top: 0 !important;
}

.spanRicercaPer {
  min-height: 20px !important;
}

.minHeight20 {
  min-height: 20px !important;
}

.dimLimitMyDocs {
  color: #69747b;
}

.font13 {
  font-size: 13px;
}

.my-documents-portlet .portlet-topper {
  display: none;
}

.my-docs-mobile-icon {
  float: left;
  margin-right: 10px;
}

.ripartiMobile {
  float: right;
}

.color-status-RIS {
  color: #008264;
}

.color-status-INS, .color-status-ELA, .color-status-ELF, .color-status-VER {
  color: #c09853;
}

.color-status-ERR {
  color: #EE2E24;
}

.filtroTfLanguage, .filtroOutputTF {
  width: auto !important;
  max-height: 28px;
  -webkit-appearance: menulist;
}

#modalMyDocs .modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#modalMyDocs .modal-body::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

#modalMyDocs .modal-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ee2e24;
}

#modalMyDocs .modal-body {
  scrollbar-base-color: #ee2e24;
  scrollbar-track-color: #F5F5F5;
  scrollbar-arrow-color: #ee2e24;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #modalMyDocs .modal-body {
    margin-right: 15px;
  }
}
@supports (-ms-accelerator: true) {
  #modalMyDocs .modal-body {
    margin-right: 15px;
  }
}